<!DOCTYPE html>

<html ng-app="WH40KApp">
    <head>
        <title>Shooting Phase</title>
        <meta charset="UTF-8">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        <link rel="shortcut icon" href="../../img/favicon.ico">-->
        <!-- Angularjs -->
        <script src="../../../plugins/angularjs/1.6.0/angular.min.js"></script>
        <script src="../../../plugins/angularjs/1.6.0/angular-route.min.js"></script>
        <script src="../../../plugins/angularjs/1.6.0/angular-websocket.min.js"></script>

        <!-- Angular-xeditable -->
        <link href="../../../plugins/angular-xeditable-0.8.1/css/xeditable.css" rel="stylesheet">
        <script src="../../../plugins/angular-xeditable-0.8.1/js/xeditable.js"></script>
        <script src="../../../plugins/angular-ui-select/0.16.1/select.min.js"></script>

        <link href="../../../plugins/angular-ui-select/0.16.1/select.min.css" rel="stylesheet" media="screen"> 

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>

        <!-- jQuery 2.2.3 -->
        <script src="../../../plugins/jquery-2.1.4/jquery.min.js"></script>    
        <script src="../../../plugins/xml2json.js"></script>    
        <script src="../../../config/config.properties"></script>
        <script src="../../../modules/appWH40K.js"></script>
        <script src="../../../services/BattleScribeSvc.js"></script>
        <script src="modules/ShootingController.js"></script>
        <link href="../../../plugins/angular-xeditable-0.8.1/css/xeditable.css" rel="stylesheet">
        <link href="../../../style/main.css" rel="stylesheet">
    </head>
    <body ng-controller="ShootingController">
        <div>TODO write content</div>
        <br/>
        version ::  {{properties.version}}
        <br/>

        <div id='parent_div_1'>
            <div class ='child_div_1'>
                <div ng-repeat="charObj in [{'id': '0'}]" ng-include="'../../base/character.html'"></div>
            </div>
            <div class ='child_div_2'>
                <div ng-repeat="charObj in [{'id': '1'}]" ng-include="'../../base/character.html'"></div>      
            </div>
        </div>
    </body>
</html>