<!DOCTYPE html>

<html ng-app="WH40KApp">
    <head>
        <title>WH40K->ImportRoster</title>
        <meta charset="UTF-8">
        <!--        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->

        <link href="style/main.css" rel="stylesheet">
        <link href="style/spinner.css" rel="stylesheet">
        <link href="style/htmlComponents.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        <link rel="shortcut icon" href="../../img/favicon.ico">-->
        <!-- Angularjs -->
        <script src="plugins/angularjs/1.6.0/angular.min.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-route.min.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-websocket.min.js"></script>

        <!-- Angular-xeditable -->
        <link href="plugins/angular-xeditable/0.8.1/css/xeditable.css" rel="stylesheet">
        <script src="plugins/angular-xeditable/0.8.1/js/xeditable.js"></script>
        <script src="plugins/angular-ui-select/0.16.1/select.min.js"></script>

        <link href="plugins/angular-ui-select/0.16.1/select.min.css" rel="stylesheet" media="screen"> 

        <script src="plugins/angularjs/1.6.0/angular-animate.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-sanitize.js"></script>
        <script src="plugins/bootstrap/2.1.3/ui-bootstrap-tpls.js"></script>

        <!-- jQuery 2.2.3 -->
        <script src="plugins/jquery/3.3.1/jquery.min.js"></script>    
        <script src="plugins/xml2json.js"></script>    
        <script src="config/config.properties"></script>
        <script src="modules/appWH40K.js"></script>
        <script src="factories/WH40KFactory.js"></script>        
        <script src="services/RuleSvc.js"></script>
        <script src="services/RosterSvc.js"></script>
        <script src="services/ChallongeSvc.js"></script>
        <script src="controllers/RosterImportController.js"></script>
        <link href="style/main.css" rel="stylesheet">
    </head>
    <body ng-controller="RosterImportController" class="battlescribe">
        <div>Roster Import</div>        
        <br/>
        version ::  {{properties.version}}

        {{data.roster.status}}
        <br/>
        <form name="formWH40K">  
            <fieldset>
                <legend>Adjuntar Roster</legend>      
                <input type = "file" file-model = "rosterFile" />
                <br/>
                <div>
                    <input type="checkbox" ng-model="data.help" ng-true-value="'YES'" ng-false-value="'NO'" /> 
                    Mostrar ayuda
                </div>                
                <div ng-show="data.help == 'YES'">
                    <img src ="images/tutorial01.png" title="Units" />
                    <img src ="images/tutorial02.png" title="Units" />
                </div>  
            </fieldset>   
            <button ng-click="previewRoster()" >Preview Roster</button>
            <button ng-click="validarRoster()" ng-show="['READY', 'VALID', 'SENDING_TO_SAVE'].includes(data.roster.status)">Validar Roster</button>
            <button ng-click="guardarRoster()" ng-show="['VALID', 'SENDING_TO_SAVE'].includes(data.roster.status)">Guardar Roster</button>
            <br/>             
            <div ng-include="'pages/roster/battlescribe.html'" class="battlescribe" ng-show="data.roster.status == 'READY' || data.roster.status == 'VALID'"></div>                           
            <div class="lds-spinner" ng-show="data.roster.status == 'VALIDATE'">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
        </form>
    </body>
</html>