<!DOCTYPE html>

<html ng-app="WH40KApp">
    <head>
        <title>WH40K</title>
        <meta charset="UTF-8">
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        <link rel="shortcut icon" href="../../img/favicon.ico">-->
        <!-- Angularjs -->
        <script src="plugins/angularjs/1.6.0/angular.min.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-route.min.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-websocket.min.js"></script>

        <!-- Angular-xeditable -->
        <link href="plugins/angular-xeditable/0.8.1/css/xeditable.css" rel="stylesheet">
        <script src="plugins/angular-xeditable/0.8.1/js/xeditable.js"></script>
        <script src="plugins/angular-ui-select/0.16.1/select.min.js"></script>

        <link href="plugins/angular-ui-select/0.16.1/select.min.css" rel="stylesheet" media="screen"> 

        <script src="plugins/angularjs/1.6.0/angular-animate.js"></script>
        <script src="plugins/angularjs/1.6.0/angular-sanitize.js"></script>
        <script src="plugins/bootstrap/2.1.3/ui-bootstrap-tpls.js"></script>

        <!-- jQuery 2.2.3 -->
        <script src="plugins/jquery/3.3.1/jquery.min.js"></script>    
        <script src="plugins/xml2json.js"></script>    
        <script src="config/config.properties"></script>
        <script src="modules/appWH40K.js"></script>
        <script src="factories/WH40KFactory.js"></script>        
        <script src="services/RuleSvc.js"></script>
        <script src="services/RosterSvc.js"></script>
        <script src="controllers/RosterController.js"></script>
        <link href="style/main.css" rel="stylesheet">
    </head>
    <body ng-controller="RosterController">
        <div>TODO write content</div>
        <br/>
        version ::  {{properties.version}}

        {{data.roster.status}}
        <br/><br/>
        <form name="formWH40K">      
            <input type="text" name="input" ng-model="data.roster.file" required ng-trim="false" size="90px">
            <fieldset>
                <legend>Enemy</legend>
                T:<input type="text" name="input" ng-model="data.enemy.T" required ng-trim="false" size="10px">
                Save: <input type="text" name="input" ng-model="data.enemy.Save" required ng-trim="false" size="10px">
            </fieldset>
            <br/>
            <button ng-click="analizar()">Analizar</button><br/> 
            <br/>  
            <pre>
              {{data.roster | json}}
            </pre>            
        </form>        
    </body>
</html>